PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/notifier?schema=public
GITHUB_TOKEN=
GITHUB_API_BASE_URL=https://api.github.com
SCANNER_INTERVAL_MS=300000
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=notifier@example.com
PUBLIC_APP_URL=http://localhost:3000
ENABLE_REDIS_CACHE=false
REDIS_URL=redis://localhost:6379
GITHUB_CACHE_TTL_SEC=600
API_KEY=
