@use 'variables' as *;
@use 'mixins' as *;

@include w($xs) {
  body {
    padding-top: 32px;
  }

  .header {
    &__lede {
      font-size: 1.2rem;
    }
  }

  .card {
    padding: 22px 18px 20px;
  }
}
